<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  {% for author in page.authors %}
  <meta name="author" content="{{ author }}">
  {% endfor %}

  {% include opengraph.html %}

  <link rel="stylesheet" href="/assets/css/bsg-theme.css">
  {% for extra_css in page.extra_css %}
  <link rel="stylesheet" href="{{ "/assets/css/extra_css.min.css" | replace: 'extra_css', extra_css | prepend: site.baseurl }}">
  {% endfor %}

  <link rel="canonical" href="{{ page.url | replace:'index.html', '' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  {% if site.apple_itunes_app_ID %}<meta name="apple-itunes-app" content="app-id={{site.apple_itunes_app_ID}}, app-argument={{ page.url | prepend: site.baseurl | prepend: site.url }}">{% endif %}

  {% if page.multilangUUID != null %}
    {% assign posts=site.posts | where:"multilangUUID", page.multilangUUID %}
    {% for post in posts %}
      {% if post.lang != page.lang %}
        <meta property="og:locale:alternate" content="{% if post.lang == 'en' %}en_US{% else %}fr_FR{% endif %}">
        <link rel="alternate" hreflang="{{post.lang}}" href="{{post.url}}" />
      {% endif %}
    {% endfor %}
  {% endif %}
</head>
