  <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="assets/images/logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="28" height="28">
      </a>
      <button class="button navbar-burger">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div class="navbar-menu">
      <div class="navbar-start">
        {% for menu_item in site.menu %}
        <a class="navbar-item" href="{{ menu_item[1].path }}">{{ menu_item[1].title }}</a>
        {% endfor %}
      </div>
      <div class="navbar-end">
      </div>
    </div>
</div>
</nav>
