<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body>
    {% include navbar_primary.html %}
    {% include navbar_secondary.html %}
    <section class="section">
      <div class="container">
        <div class="content">
          {{ content }}
        </div>
      </div>
    </section>

    <script src="{{ '/assets/js/jquery/jquery.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/assets/js/bigfoot/bigfoot.min.js' | prepend: site.baseurl }}"></script>
    <script type="text/javascript">
      $.bigfoot();
    </script>
    {% for extra_js in page.extra_js %}
    <script src="{{ "/assets/js/extra_js.js" | replace: 'extra_js', extra_js | prepend: site.baseurl }}">
    {% endfor %}
  </body>
</html>
